.gris-clair {
    background-color: lightgray;
  }
  .text-purple {
    color: rgb(247, 247, 247); /* Couleur violette */
  }
  .oronge {
    color:rgb(241, 167, 56)
  }
  .bg-light-gray {
    background-color: #f0f0f0; /* Couleur de fond gris clair */
  }
  .main-container {
    margin-top: 40px;
  }
  .btn1{
    background-color:#7dcc58;
    color: white;}
    /* Définir la couleur violette et la marge pour les boutons */
.btn-violet {
  background-color: #5932EA;
  color: white; /* Pour rendre le texte lisible sur le fond violet */
  margin-right: 20px; /* Ajouter de la marge à droite des boutons */
}
